<style>
   
</style>
<div id="header-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <header id="header">
                    <h1><a href="/" id="logo">@Collections.Service.Config.ProjectName</a></h1>
                    <nav id="nav">
                        <a asp-area="" asp-controller="Home" asp-action="Index">Main Page</a>
                        <a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="">Collections</a>
                        <a asp-area="" asp-controller="Account" asp-action="Login" asp-route-id="">Sign In</a>
                        <a asp-area="" asp-controller="Account" asp-action="Register" asp-route-id="">Register</a>
                    </nav>
                </header>             
            </div>
        </div>       
    </div>
</div>
