@model RegisterViewModel
<head>
    <link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
</head>
<body>
    <div>
        <div class="div-box">
            <form asp-area="" asp-controller="Account" asp-action="Register" method="post" asp-route-returnUrl="@ViewBag.returnUrl" class="ui-form">
                <h3>Register</h3>
                <div asp-validation-summary="All"></div>
                <div class="form-row">
                    <label asp-for="UserName"></label>
                    <input asp-for="UserName" type="text" required autocomplete="off" />
                    <span asp-validation-for="UserName"></span>
                </div>
                <div class="form-row">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" type="text" required autocomplete="off" />
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="form-row">
                    <label asp-for="Password" type="password" required autocomplete="off"></label>
                    <input asp-for="Password" />
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="form-row">
                    <label asp-for="ConfirmPassword" type="password" required autocomplete="off"></label>
                    <input asp-for="ConfirmPassword" />
                    <span asp-validation-for="ConfirmPassword"></span>
                </div>
                <div>
                    <input type="submit" value="Register" />
                </div>
            </form>
        </div>
    </div>
</body>