@model IQueryable<Collection>
@{
    TextField textField = ViewBag.TextField;

    ViewBag.Keywords = textField.CodeWord;
}
<div>
    All Collections
    @if (Model.Any())
    {
        <ul class="big-image-list">
            @foreach (Collection entity in Model)
            {
                <li>
                    <a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="@entity.Id">
                        <img src="~/images/@entity.TitleImagePath" alt="" class="left" />
                    </a>
                    <h4>@entity.Title</h4>
                    <h6>Theme: @entity.Theme</h6>
                    <p>@entity.shortDescription</p>
                </li>
            }
        </ul>
    }
</div>